<div class="prompt">Another question</div>
<ul class="int-choice-list" data-module="ChoiceInteraction" data-identifier="interaction_RESPONSE">
    <li>
        <!--Chrome/NVDA Reads radio button not checked A, then blue box-->
        <!--FF/NVDA Reads radio button not checked then A then blue box-->
        <!--Chrome/JAWS Reads radio button not checked level 0 then A then blue box-->
        <!--FF/JAWS Reads radio button not checked 1 of 3 then A then blue box-->

        <div class="int-choice-control"><input type="radio" name="group_RESPONSE2" id="ChoiceA" value="ChoiceA"/></div>

        <label for=ChoiceA class="radio">

            <div class="int-choice-label">A</div>
            <div class="int-choice-desc">
            <span>
                <img src="http://test86-tn8.pearsontestcontent.com/refqc/6f31fd123f608529c7c98b00e1dfc377846179cc/360/17213/bluebox.png" alt="blue box" width="88" height="100">
            </span>
            </div>
        </label></li>

    <!--Chrome/NVDA Reads radio button not checked B, then B again, then blue box-->
    <!--Chrome/JAWS Reads radio button not checked B level 0 then B then blue box-->

    <li>
        <label for=ChoiceB class="radio">
            <div class="int-choice-control"><input type="radio" name="group_RESPONSE2" id="ChoiceB" value="ChoiceB"/></div>
            <div class="int-choice-label">B</div>
            <div class="int-choice-desc"><span><img src="http://test86-tn8.pearsontestcontent.com/refqc/6f31fd123f608529c7c98b00e1dfc377846179cc/360/17213/bluebox.png" alt="blue box" width="88" height="100"></span></div>
        </label></li>
    <li><label class="radio">
        <div class="int-choice-control"><input type="radio" name="group_RESPONSE2" value="ChoiceC"/></div>
        <div class="int-choice-label">C</div>
        <div class="int-choice-desc"><span><img src="http://test86-tn8.pearsontestcontent.com/refqc/6f31fd123f608529c7c98b00e1dfc377846179cc/360/17213/bluebox.png" alt="blue box" width="88" height="100"></span></div>
    </label></li>
</ul>